{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

<!-- CSS Block -->

{% block base_css %}
    <link rel="stylesheet" href= {% static "css/root/base.css" %}>
{% endblock base_css %}

<!-- App -->
{% block app_base %}
        
        <div class="wrapper">
            <!-- NavBar -->
            {% include 'navbar.html' %}
            <!-- Contents -->
            <div class="contents-container">
                {% block content %}
                    view:{{ view }}
                    data:{{ data }}
                {% endblock content %}
            </div>
        </div>
        
        
{% endblock app_base %}