{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

<!-- CSS Block -->
<link rel="stylesheet" href= {% static "css/base.css" %}>
{% block css %}
{% endblock css %}

<!-- App -->
{% block app_base %}
        <!-- NavBar -->
        {% include 'navbar.html' %}
        <!-- Contents -->
        <div class="container-fluid">
            <div class="container">
                {% block content %}
                    view:{{ view }}
                    data:{{ data }}
                {% endblock content %}
            </div>
        </div>
        
{% endblock app_base %}